<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 8.0.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d72a54fcaaf61981d1cf681574bb3d8:7c4cd4dd501e7cd7d92bdf8917dce75b:4e71a27fd671a21d26845cd0b9480758$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Woodcutter.1.png</string>
                <key>size</key>
                <string>{2035,923}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_01 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{657,518}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{478,2},{181,242}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_02 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{637,517}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{663,2},{178,299}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_03 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{657,517}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{1572,2},{154,359}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_04 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{642,517}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{1392,2},{176,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_05 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{589,516}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{2,2},{225,206}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_06 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{569,508}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{231,2},{243,213}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_07 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{530,447}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{845,2},{285,305}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_08 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{550,440}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{328,377},{263,418}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_09 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{468,333}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{1427,377},{487,544}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_10 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{568,442}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{595,377},{244,432}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_11 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{565,454}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{1134,2},{254,317}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_12 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{565,353}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{1730,2},{303,371}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_13 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{529,364}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{2,377},{322,395}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_14 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{501,439}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{843,377},{312,438}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Woodcutter_15 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{555,439}</string>
                        <key>spriteSourceSize</key>
                        <string>{1536,1348}</string>
                        <key>textureRect</key>
                        <string>{{1159,377},{264,454}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
