<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 8.0.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d74cf4e23eb88f7725df7823daecd17f:304a720ce3c91c93e2040bee734f2f2a:da81ca3bd9019c4c9e8ef2d1e3716b1f$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>RiverHouse.1.png</string>
                <key>size</key>
                <string>{414,1556}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_01 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1049,368}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{209,572},{202,191}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_02 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1047,363}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{1,1156},{204,196}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_03 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1047,370}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{208,190},{204,189}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_04 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1047,365}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{1,960},{204,194}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_05 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1046,360}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{1,1354},{205,199}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_06 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1047,372}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{1,190},{205,188}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_07 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1046,372}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{205,187}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_08 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1047,370}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{1,381},{204,189}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_09 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1047,366}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{1,765},{216,193}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_10 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1047,372}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{208,1},{204,187}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_11 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1047,363}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{207,1156},{205,196}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_12 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1048,358}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{208,1354},{205,201}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_13 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1047,370}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{207,381},{205,189}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_14 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1046,369}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{1,572},{206,190}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RiverFlowFarmAnimation_15 copy.png</string>
                        <key>spriteOffset</key>
                        <string>{1047,365}</string>
                        <key>spriteSourceSize</key>
                        <string>{1928,1072}</string>
                        <key>textureRect</key>
                        <string>{{207,960},{204,194}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
