<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Cinzel-Regular.ttf</string>
		<string>Fonts/Cinzel-Medium.ttf</string>
		<string>Fonts/Cinzel-SemiBold.ttf</string>
		<string>Fonts/Cinzel-Bold.ttf</string>
		<string>Fonts/Cinzel-ExtraBold.ttf</string>
		<string>Fonts/Cinzel-Black.ttf</string>
		<string>Fonts/Cinzel-VariableFont_wght.ttf</string>
		<string>Fonts/EBGaramond-Regular.ttf</string>
		<string>Fonts/EBGaramond-Italic.ttf</string>
		<string>Fonts/EBGaramond-Medium.ttf</string>
		<string>Fonts/EBGaramond-MediumItalic.ttf</string>
		<string>Fonts/EBGaramond-SemiBold.ttf</string>
		<string>Fonts/EBGaramond-SemiBoldItalic.ttf</string>
		<string>Fonts/EBGaramond-Bold.ttf</string>
		<string>Fonts/EBGaramond-BoldItalic.ttf</string>
		<string>Fonts/EBGaramond-ExtraBold.ttf</string>
		<string>Fonts/EBGaramond-ExtraBoldItalic.ttf</string>
		<string>Fonts/EBGaramond-VariableFont_wght.ttf</string>
		<string>Fonts/EBGaramond-Italic-VariableFont_wght.ttf</string>
		<string>Fonts/PetitFormalScript-Regular.ttf</string>
	</array>
</dict>
</plist>
